.modal{
    position: fixed;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0009;

    .modal-close-btn{
        position: relative;
        bottom: -1.75em;
        right: -6.25em;
        padding: 0.25em;
        width: 1.5em;
        height: 1.5em;
        background: #fff;
        opacity: 0.2;
        box-shadow: 0 2px 10px 0px #0003;
        border-radius: 50%;
        z-index: 30;
        transition: all 0.15s;

        &:hover{
            opacity: 0.9;
            color: red;
        }
    }
}