body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  position: relative;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background: #2224;
  border-radius: 5px;
}

::-webkit-scrollbar-track{
  background: transparent;

}

.app-main-body{
  min-height: 60vh;
}