.product{
    font-size: 12.5px;
    font-size: 10.5px;
    margin: 0.8em;
    width: 21em;
    // height: fit-content;
    position: relative;
    border-radius: 1em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 28em;
    transition : all 0.1s;
    &:hover{
        box-shadow: 0 4px 12px -1px #0004;
    }
    
    .MuiCardContent-root{
        padding-bottom: 0 !important;
        // background: #eee;
    }
    // .MuiCardActions-root{
    //     position: absolute;
    //     bottom: 0;
        
    // }
    .add-to-cart-btn{
        transition: all 0.1s;
        &:hover{
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
        }
    }

    .stretched-link{
        &::after{
            z-index: 0;
        }
    }

    

    // .space{
    //     height: 4em;
    //     @media (max-width: 480px) {
    //         display: none;
    //     }    
    // }

    @media (max-width: 480px) {
        font-size: 10px;
        width: 16em;
        margin: 0.5em;
    }

    h6{
        font-size: 1.4em;
    }

    .card-image{
        height: 12em;
        margin: 0.5em;
        border-radius: 1em;
        background-color: #fff;
        background-size: contain !important;
    }

    .company{
        font-size: 0.7em;
    }
    .desc{
        font-size: 0.8em;   
        max-height: 4em;
        overflow: hidden;
    }

    .info{
        font-size: 0.7em;
        color: #17a2b8;
        text-transform: none;
    }
    .delivery{
        font-size: 0.7em;
        color: #E91E63;
    }
    .pack-size{
        &::before{
            border-bottom: none !important;
        }
    }
    .card-content{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }
    .price{
        background-color: #1f9c06aa;
        color: #fff;
        width: fit-content;
        padding: 0.1em 0.8em 0 0.8em;
        border-radius: 0.2em;
    }

    .attrs{
        *{
            text-transform: capitalize;
        }
    }

    .card-actions{
        display: flex;
        justify-content: space-between;
        padding: 1em !important;
        width: 100%;
        z-index: 100;

        .quantity-inp{
            width: 50%;
            *{
                text-align: right;
            }
        }

        .add-to-cart{
            width: 100%;
            background: #107483;
            border-radius: 0.8em;
            color: #fff;
            font-weight: bold;
            white-space: nowrap;

            &:hover{
                background: #17a2b8;
                background: var(--mainColor);
            }

            @media (max-width: 480px){
                font-size: 7px;
                display: none;
            }
        }
        .out-of-stock{
            background: #f009;
        }
    }

    .variants{
        display: flex;
        position: relative;
        flex-direction: column;
        #variant-label{
            position: relative;
            top: 1em;
            font-size: 0.7em !important;
        }
    }
}