.product{
    font-size: 12.5px;
    font-size: 10.5px;
    margin: 0.8em;
    width: 21em;
    // height: fit-content;
    position: relative;
    border-radius: 1em !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 28em;
    transition : all 0.1s;
    &:hover{
        box-shadow: 0 4px 12px -1px #0004;
    }
    
    .MuiCardContent-root{
        padding-bottom: 0 !important;
        // background: #eee;
    }
    // .MuiCardActions-root{
    //     position: absolute;
    //     bottom: 0;
        
    // }
    .add-to-cart-btn{
        transition: all 0.1s;
        &:hover{
            transform: scale(1.1);
        }
        &:active{
            transform: scale(0.9);
        }
    }

    .stretched-link{
        &::after{
            z-index: 0;
        }
    }

    

    // .space{
    //     height: 4em;
    //     @media (max-width: 480px) {
    //         display: none;
    //     }    
    // }

    @media (max-width: 480px) {
        font-size: 10px;
        width: 16em;
        margin: 0.5em;
    }

    h6{
        font-size: 1.2em;
        max-height: 2.5em;
        overflow: hidden;
    }

    .card-image{
        height: 12em;
        margin: 0.5em;
        border-radius: 1em;
        background-color: #fff;
        background-size: contain !important;
    }

    .company{
        font-size: 0.7em;
        margin-top: 0.5em;
    }
    .desc{
        font-size: 0.8em;   
        max-height: 4em;
        overflow: hidden;
    }

    .info{
        font-size: 0.7em;
        color: #17a2b8;
        text-transform: none;
    }
    .delivery{
        font-size: 0.7em;
        color: #E91E63;
    }
    .pack-size{
        &::before{
            border-bottom: none !important;
        }
    }
    .card-content{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }
    .card-bottom{
        padding: 0.5em 1.5em 1em;
        display: flex;
        flex-direction: column;

    }
    .sku-select{
        display: flex;
        height: 2.5em;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 0.5em;
        >*{
            width: 100%;
            height: 100%;
        }
        select,option{
            border:0px;
            outline:0px;
            border-left: 1px solid #ddd;
            height: 100%;
            border-radius: 0.2em;
            background: #fff;
            font-size: 1.1em;
        }
        
    }
    .price{
        // background-color: #1f9c06aa;
        // color: #fff;
        border-color: #fff;
        // border: 1px solid #333;
        // width: fit-content;
        white-space: nowrap;
        // min-width: 30%;
        width: 100%;
        min-width: fit-content;
        // font-weight: bold;
        text-align: center;
        padding: 0.1em 0.8em 0 0.8em;
        border-radius: 0.2em;
    }

    .attrs{
        padding-left: 1em;
        *{
            text-transform: capitalize;
        }
    }

    .card-actions{
        display: flex;
        justify-content: space-between;
        // padding: 0em 1.5em 1em 1.5em;
        align-items: center;
        margin: 0 !important;
        width: 100%;
        z-index: 100;

        .MuiInput-underline:before,.MuiInput-underline:after{
            display: none;
        }


        .MuiInputLabel-root{
            position: absolute;
            top: 0em;
            left: 0em;
            margin-bottom: 0;
            font-size: 1.8em;
        }
        .quantity-inp{
            width: 50%;
            position: relative;
            border-radius: 0.5em;
            // border: 2px solid black;
            *{
                text-align: right;
            }
            .MuiInputBase-root{
                margin-top: 0;
            }
        }

        .add-to-cart{
            width: 100%;
            background: #107483;
            border-radius: 0.5em;
            height: 2.5em;
            color: #fff;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-around;
            white-space: nowrap;
            font-size: 1.1em;

            &:hover{
                background: #17a2b8;
                background: var(--mainColor);
            }

            @media (max-width: 480px){
                font-size: 7px;
                display: none;
            }
        }
        .out-of-stock{
            background: #f009;
        }
    }

    .variants{
        display: flex;
        position: relative;
        flex-direction: column;
        #variant-label{
            position: relative;
            top: 1em;
            font-size: 0.7em !important;
        }
    }
}