.product{
    font-size: 12.5px;
    margin: 0.5em;
    width: 16em;
    height: fit-content;

    .card-image{
        height: 12em;
        background-size: contain !important;
    }

    .company{
        font-size: 0.7em;
    }
    .desc{
        font-size: 0.8em;   
    }

    .info{
        font-size: 0.7em;
        color: #17a2b8;
        text-transform: none;
    }
    .delivery{
        font-size: 0.7em;
        color: #E91E63;
    }
    .pack-size{
        &::before{
            border-bottom: none !important;
        }
    }

    .card-actions{
        display: flex;
        justify-content: space-between;
        padding: 0 !important;

        .add-to-cart{
            width: 100%;
            background: #107483;
            border-radius: 0 !important;
            color: #fff;
            font-weight: bold;
            &:hover{
                background: #17a2b8;
            }
        }
    }

    .variants{
        display: flex;
        position: relative;
        flex-direction: column;
        #variant-label{
            position: relative;
            top: 1em;
            font-size: 0.7em !important;
        }
    }
}