.empty{
    svg{
        width: 40%;
        margin-top:  10px;
    }
    h4{
        color: var(--mainColor);
        text-align: center;
        margin: auto;
        font-size: 35px;
        font-weight: bold;
    }
    
}