
.products-page{
    max-width: 1510px;
    position: relative;
    @media (min-width:1200){
        min-width: 1250px;
    }

    
    .chip{
        margin: 0.2em !important;
    }

    .cart-snackbar{
        width: 100%;
        text-align: center;
        
        border-radius: 0;
        padding: 1em;
        position: fixed;
        bottom: 0;
        // left: 0;
        &>*{
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
    #categories-fetched{
        a{
            color:inherit;
            font-size: 13px;
        }
    }
    .brands,.pack-sizes{
    
        display: flex;
        flex-direction: column;
        max-height: 15em;
        width: 100%;
        overflow-y:scroll;
        margin-top: -0.8em;
        padding: 0 0 0.5em 0;
    }

    .radio-control{
        input{
            padding: 0.1em 0.2em;
        }
        label{
            margin: 0 0.5em;
        }
    }

    .list-heading,.MuiListSubheader-root{
        color: #555;
        font-size: normal;
        text-transform: capitalize;
        // font-weight: bold;
        font-size: 1.1em;
        z-index: 0;
    }
    .filter-list{
        margin-bottom: 1em;
        margin: 1em 0.5em;
    }
    .acc{
        margin: 0 !important;
        // border-radius: 0.2em;
        box-shadow: none;
    }
    .price-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            height: fit-content;
        }
    }
    .prices{
        display: flex;
        padding: 0 0.2em;
        justify-content: space-around;
    }
    
    
    .ctrl{
        height: 1.5em;
        display: flex !important;
        *{
            text-transform: capitalize;
        }
    }

    .MuiCheckbox-colorPrimary.Mui-checked {
        color: #29ce08;
        transform: scale(0.9);
    }
    input{
        padding: 0px 5px 0 2px !important;
    }
    .MuiTypography-body1 {
        font-size: 1em;
        white-space: nowrap;
        font-family: "Oswald", "Helvetica", "Arial", sans-serif;
    }

    
    .products-container{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 -1em;
        background: #fff9;
        border-radius: 1em;
        padding: 1em;
        .products{
            display: flex;
            perspective: 400px;
            transform-style: preserve-3d;
            transform-origin: center;
            flex-wrap: wrap;
            @media (max-width: 480px){
                justify-content: center;
                display: grid;
                grid-template-columns: 1fr 1fr ;
            }
        }
    
        .empty{
            max-width: 400px;
            // width: 50%;
            height: 15em;
            margin: 5em auto;
    
        }
        .no-products{
            text-align: center;
            margin: -1em auto 5em;
            color:#665ef3;

            p{
                color: #57538a;
            }
        }
    }

    .sort-ctrl{
        padding: 4px 2px;
        z-index: 1!important;
        background-color: white;
        height: 2em;
        @media(max-width: 600px){
            width: 40%;
            padding: 12px 1px;
            top: 3.5em;
            height: 3.4em;
        text-align: center;
        }
        select, option{
            outline: none;
            color: #999;
            border: 1px solid #eee;
            background: transparent;
            @media(max-width: 600px){
                width: 50%;
            }
        }
    }

    .side-nav{
        background: #fff9;
        border-radius: 1em;
        // padding: 0.3em;
        padding: 0.1em;
        font-size: 13px;
        box-shadow: none;

        ul{
            padding-left: 1em !important; 
        }
    }
    

    .sku-select{
        padding-top: 0;
        margin-bottom: 1em;
    }
}

.btn-sec{
    padding:0.5em;
     text-align:center;
     background:#eee;
     font-weight:bold;
     color:#555;
     cursor: pointer ;
}
.filter-lists{
    padding: 0 0.1em;
    display:none;
    @media(max-width: 600px){
        display: block;
        margin: 0 15px;
        height: 3.4em;
    }
}
.product-sec{
    @media(max-width: 600px){
        margin-top:20px!important;
    }
}
.cats{
    display: none;
    @media(max-width: 600px){
        display: block;
        margin: -10px 0 10px 0;
        z-index: 2;
        overflow: auto;
        white-space: nowrap;
    }
    .acco{
        display: inline-block;
        margin: 0 10px 0 0;
        width: 40%;
    }
}
.cats::-webkit-scrollbar {
    display: none;
  }

.sel{
    position: absolute;
    right: 1em;
    top: -0.3em;
}
.sels{
    width: 100%;
    display: flex;  
    margin: -15px 0 7px 0;
}  