.chip{
    margin: 0.2em !important;
}

.brands,.prices,.pack-sizes{
    // &::-webkit-scrollbar{
    //     display: block;
    // }

    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y:scroll;
}


.ctrl{
    height: 2em;
}

.products-container{
    display: flex;
    flex-direction: column;

    .products{
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
    }
}