
.products-page{
    .chip{
        margin: 0.2em !important;
    }
    
    .brands,.pack-sizes{
        // &::-webkit-scrollbar{
        //     display: block;
        // }
    
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow-y:scroll;
        margin-top: -0.8em;
        padding: 0 0 0.5em 0;
    }

    .MuiListSubheader-root{
        // color: #e35f21;
        font-size: larger;
        text-transform: capitalize;
        padding-left: 0;
    }
    
    .prices{
        display: flex;
        padding: 0 2em;
        justify-content: space-around;
    }
    
    
    .ctrl{
        height: 2em;
    }
    
    .products-container{
        display: flex;
        flex-direction: column;
        margin: 0 -1em;
    
        .products{
            margin-top: 2em;
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 480px){
                justify-content: center;
            }
        }
    
        .empty{
            max-width: 400px;
            width: 100%;
            margin: 5em auto;
    
        }
    }

    .side-nav{
        background: transparent;
        box-shadow: none;

        ul{
            padding-left: 1em !important; 
        }
    }

    .sku-select{
        padding-top: 0;
        margin-bottom: 1em;
    }
}