.home1{
    width: 100%;
    background-color: #f3f3f3;
    h1{
        font-size: 25px;
        padding: 10px;
        text-align: left;
        font-weight: bold;
        @media(max-width: 600px){
            text-align: center;
        }
    }
}
.multi_car{
    width: 100%;
    padding: 5px 10px;
    h1{
        font-size: 25px;
        padding: 5px 10px;
        text-align: left;
        font-weight: bold;
        @media(max-width: 600px){
            font-size: 20px;
            text-align: center;
        }
    }
    p{
        padding: 0 10px;
        text-align: left;
        color: grey;
        @media(max-width: 600px){
            font-size: 14px;
            text-align: center;
        }
    }
}
.specials{
    width: 23%;
    margin: 0 1%;
    @media(max-width: 600px){
        margin: 10px 0;
    }
}
.banner{
    width: 32%;
    margin: 0;
    @media(max-width: 600px){
        margin-bottom: 10px;
    }
}
.facility{
    height: 250px;
    @media(max-width: 600px){
        height:1600px;
    }
}
