.home1{
    width: 100%;
    background-color: #f3f3f3;
    h1{
        font-size: 25px;
        padding: 10px;
        text-align: left;
        font-weight: bold;
    }
}
.multi_car{
    width: 100%;
    padding: 5px 10px;
    h1{
        font-size: 25px;
        padding: 5px 10px;
        text-align: left;
        font-weight: bold;
    }
    p{
        padding: 0 10px;
        text-align: left;
        color: grey;
    }
}