.offers{
    padding: 2em 1em;
    h1{
     font-size: 30px;
     color: grey;
     text-align: center;
    }
}
.offer_head{
    margin-top:30px;
    p{
        font-size: 20px;
        margin-left: 20px;
    }
}
.option{
    p{
        text-align: center;
        color: gray;
        font-size: 15px;
    }
}

#del{
    margin-left: 100px !important;
}
#del1{
    margin-right: 100px!important;
}