.categories{
    
    position: relative;
    height: 2.5em;
    box-shadow: 0 0 12px 1px #0004;
    margin-bottom: 0.5em;
    
    .category{
        width: 100%;
        text-align: center;
        height: 2.5em;
        background: #fff;
        position: relative;
        z-index: 10;
    
    }

    .MuiTreeItem-content{
        height: 100%;
    }
    .Mui-expanded{
        background: #fff;
    }
    .Mui-selected{
        background: #fff;
    }
    .MuiTreeItem-label{
        background:none !important;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}