.address_det{
    position: relative;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 2px;
    min-width: 100%;
    h3{
    color: #fff;
    background-color: black;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    .span1{
    background-color: #fff;
    position: relative;
    top: -2px;
    font-size: 12px;
    color: black;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 17px;
    }
    .span2{
        height: 48px;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    }
}
.add_radio{
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    width: 100%;
    background-color: #f5faff;
    padding: 16px 24px 12px;
    input{
        display: inline-block;
        border: 2px solid #979797;
        border-radius: 100%;
        border-color: #2874f0;
        height: 16px;
        width: 16px;
        position: relative;
        vertical-align: top;
        margin-top: 3px;
        cursor: pointer;
    }
}
.user_add{
    display: inline-block;
    margin-left: 18px;
    width: calc(100% - 34px);
    .user_1{
    max-width: 523px;
    float: left;
    cursor: pointer;
    width: 100%;
    button{
    background: var(--mainColor);
    padding:15px 30px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    margin-top: 10px;
    border: none;
    color: #fff;
    @media(max-width:600px){
        font-size: 12px;
        padding:10px 25px;
        margin-left: 15%;
    }
    }
    p{
        line-height: 1.5;
        font-size: 17px;
        @media(max-width:600px){
            font-size: 12px;
        }
        .span_name{
            font-weight: bold;
        }
        .span_place{
            margin: 0 0 0 11px;
            text-transform: uppercase;
            font-size: 11px;
            color: #878787;
            vertical-align: middle;
            padding: 4px 7px;
            border-radius: 2px;
            background-color: #f0f0f0;
            font-weight: 500;
        }
        .span_num{
            font-weight: bold;
            margin:0 0 0 11px;
        }
    }
    }
    .user_edit{
        float: right;
        @media(max-width:600px){
        float: left;
        margin: 5% 30%;
        }
        button{
           font-size: 18px;
           color: #2874f0;
           border: 0;
           background: none;
           text-transform: uppercase;
           cursor: pointer;
           outline: none;
        }
    }
}
.address_show{
    margin-top: 10px;
    font-size: 16px;
    display: block;
}
.adder{
    font-size: 16px;
    color: #2874f0;
    font-weight: bold;
    padding: 14px 0;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;

}
.order_sum{
    font-size: 16px;
    color: #878787;
    font-weight: bold;
    padding: 14px 0;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    .span1{
        background-color: #fff;
        position: relative;
        top: -2px;
        font-size: 12px;
        color: black;
        background-color: #f0f0f0;
        border-radius: 2px;
        padding: 3px 7px;
        vertical-align: baseline;
        margin-right: 17px
        }
}
.uparrow{
    transform: rotate(180deg);
}
