.stripe-checkout{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .card-details{
        width: 100%;
        padding: 1em 0.2em;
        margin-bottom: 0.5em;
    }

    .cont_order{
        margin: 1em auto;
    }
    .footer{
        font-size: 0.7em;
        color:#999;
        position: relative;
        bottom: -2em;
    }

    .btn{
        text-transform: capitalize;
    }

    .btn.disabled{
        filter: grayscale(1);
    }
}