.home_edit{
    font-size: 22px;
    margin: 20px;
    h1{
        color:grey;
        padding: 20px;
    }
    label{
        font-size: 13px;
    }
}
.home_form{
    margin: 20px;
}
.home-snackbar{
    width: 100%;
    text-align: center;
    border-radius: 0;
    padding: 1em;
    position: fixed;
    bottom: 0;
    // left: 0;
    &>*{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}